:root{
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-primary-brand: #819B57;
    --color-secondary-brand-dark: #465929;
    --color-secondary-dark: #A18268;
    --color-secondary-light: #CFCFBC;
}
